.error {
    color: red; 
}

.searchField {
    border: 1px solid black !important;
    border-radius: 0px !important;
}

input:focus,
input:hover,
input:active,
select:focus {
    outline: 0px !important;
    box-shadow: none !important;
}