.navbar {
    background-color: rgb(228, 226, 226, 0.6);
}

#logo {
    font-family: 'Kanit', sans-serif;
    font-size: calc(2.375rem + 1.5vw);
}

.navbar-text {
    font-family: 'Montserrat', sans-serif;
    color: #C8C9C9;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

