@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Nunito:wght@300&display=swap');
@import url(./buttons.css);
@import url(./navbar.css);
@import url(./productListing.css);
@import url(./cart.css);

body {
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(235, 225, 224); */
}

.productQuantity {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

input:focus,
input:hover,
input:active,
select:focus {
    outline: 0px !important;
    box-shadow: none !important;
}